body {
background-color: #000000;
color: #fff;
cursor: default;
-webkit-touch-callout: none; 
-webkit-user-select: none; 
-khtml-user-select: none; 
-moz-user-select: none; 
-ms-user-select: none; 
user-select: none; 
}
#logo {
font-family: gota, Arial;
font-size: 60px;
margin-bottom: 0;
-moz-transition: all .2s ease-in;
-o-transition: all .2s ease-in;
-webkit-transition: all .2s ease-in;
transition: all .2s ease-in;
}
#logo:hover {
background-image: url(../img/mask1.gif);
background-size: cover;
color: transparent;
-moz-background-clip: text;
-webkit-background-clip: text;
transform: scale(1.1);
-ms-transform: scale(1.1); 
-webkit-transform: scale(1.1);
-webkit-transition: transform 0.3s ease-in-out;
-moz-transition:transform 0.3s ease-in-out;
-ms-transition:transform 0.3s ease-in-out;
}
#content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}